.responsive-img
{
    max-width: 100%;
    height: auto;
}
.photo-form-display{
    display: flex;
}

.photo-form-display__container{
    position:relative;
    border: 5px solid gray;
    border-radius:10px;
    overflow: hidden;
}

.photo-form-display__container + .photo-form-display__container{
    margin-left: 1rem;
}
.photo-form-display__img-container{
    position: relative;
    height: 200px;
    width: 200px;
    background: black;
}


.photo-form-display__img{
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
}

.photo-form-display__close{
    position:absolute;
    top:0;
    right:0;
    background: red;
    margin: .25rem;
    padding: .2rem .5rem;
    font-size: 1.5rem;
    line-height:1;
    color: white;
    border-radius: 50rem;
}

.photo-form-display__close:hover {
    cursor: pointer;
    background: pink;
}
